// main: style.less

@import "common/section";
@import "common/btn";
@import "common/picture";

.link__block {
    text-decoration: none;
}

.link__text {
    .fs (@fcb, inherit, 24px, 500);

    @media @hd {
        font-size: 20px;
    }

    @media @laptop {
        font-size: 18px;
    }
}

.no-click {
    pointer-events: none;

    cursor: not-allowed;
}

.no-scroll {
    overflow: hidden;
}

.header-scroll {
    padding: 10px 0 !important;
}

.header__nav-scroll {
    margin-top: 20px !important;
}

.red {
    color: @red;
}

.section__title {
    .fs(@white, "Playfair Display", 100px, 700);
    line-height: .95;

    @media @intermediate {
        font-size: 70px;
    }

    @media @medium {
        font-size: 55px;
    }

    @media @l {
        font-size: 37px;
    }

    @media @m {
        font-size: 30px;
    }

    &--darken {
        color: @fcb;
    }
}

.section__text {
    .fs(@fcb, inherit, 20px, 700);
    
    opacity: .6;

    @media @laptop {
        font-size: 18px;
    }

    @media @medium {
        font-size: 16px;
    }

    @media @l {
        font-size: 14px;
    }

    @media @m {
        font-size: 12px;
    }
}