/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}
/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
  font-family: inherit;
}
body {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  color: #ffdfd1;
  font-family: Gilroy, Roboto, sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  background-color: #32302f;
}
.sprite {
  display: none;
}
.section {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.section__bg {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #32302f;
}
.section__bg .section__absolute {
  width: 5000px;
  height: 150px;
  position: absolute;
  left: 0;
  z-index: 1;
  background-repeat: repeat-x;
}
.section__bg .section__absolute--top {
  top: -150px;
  background-image: url('img/about/above.png');
}
.section__bg .section__absolute--bottom {
  bottom: -150px;
  background-image: url('img/about/below.png');
}
.container {
  max-width: 1580px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 25px;
  position: relative;
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
.btn {
  padding: 1.5em 6em;
  color: transparent;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  border-radius: 2.3em;
  position: relative;
  z-index: 2;
  background-color: #32302f;
}
.btn:hover.btn:before {
  opacity: 0.7;
}
.btn:focus.btn:before {
  transform: scale(0);
}
.btn:before {
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 2.3em;
  transition: all 0.5s ease;
  background-color: #ff4d00;
}
.btn:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 35%;
  left: 0;
  z-index: 2;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2.3em;
  background-color: transparent;
}
@media (max-width: 767px) {
  .btn:after {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .btn:after {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .btn:after {
    top: 31%;
    font-size: 14px;
  }
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
@media (max-width: 767px) {
  .btn {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .btn {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .btn {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .btn {
    font-size: 11px;
  }
}
.btn span {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.8;
  position: relative;
  z-index: 3;
}
.btn--booking:before {
  animation: btn-pulse 2s ease-out;
  animation-iteration-count: infinite;
}
.btn--booking:after {
  content: 'ЗАБРОНИРОВАТЬ СТОЛ';
}
.btn--feedback:before {
  animation: btn-pulse 2s ease-out;
  animation-iteration-count: infinite;
}
.btn--feedback:after {
  content: 'ОСТАВИТЬ ОТЗЫВ';
}
.btn--mini {
  padding: 0.33em 0.83em;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .btn--mini {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .btn--mini {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .btn--mini {
    width: auto;
    font-size: 20px;
  }
}
.btn--mini:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 16%;
  left: 0;
  z-index: 2;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 2.3em;
  background-color: transparent;
}
@media (max-width: 1024px) {
  .btn--mini:after {
    font-size: 22px;
  }
}
@media (max-width: 425px) {
  .btn--mini:after {
    font-size: 20px;
  }
}
.img {
  max-width: 100%;
  display: block;
  cursor: pointer;
}
.svg__block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.svg__block:hover {
  cursor: pointer;
}
.svg__block--logo {
  width: 50px;
  height: 50px;
  transition: all 0.2s ease;
}
@media (max-width: 1024px) {
  .svg__block--logo {
    width: 40px;
    height: 40px;
  }
}
.svg__block--header {
  width: 30px;
  height: 30px;
  margin-right: 40px;
  transition: all 0.2s ease;
}
@media (max-width: 1280px) {
  .svg__block--header {
    margin-right: 30px;
  }
}
@media (max-width: 1024px) {
  .svg__block--header {
    width: 25px;
    height: 25px;
    margin-right: 25px;
  }
}
@media (max-width: 1024px) {
  .svg__block--basket {
    margin-right: 0;
  }
}
.svg__block--features {
  width: 45px;
  height: 45px;
}
.svg__block--menu {
  width: 30px;
  height: 30px;
}
.svg--logo {
  width: auto;
  height: 100%;
  fill: #e13b2b;
}
.svg--contacts {
  width: auto;
  height: 100%;
  fill: #e13b2b;
}
.svg--intro {
  width: auto;
  height: 100%;
  fill: #ff4d00;
}
.svg--menu {
  width: auto;
  height: 100%;
  fill: #FFFFFF;
}
.link__block {
  text-decoration: none;
}
.link__text {
  color: #ffdfd1;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1280px) {
  .link__text {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .link__text {
    font-size: 18px;
  }
}
.no-click {
  pointer-events: none;
  cursor: not-allowed;
}
.no-scroll {
  overflow: hidden;
}
.header-scroll {
  padding: 10px 0 !important;
}
.header__nav-scroll {
  margin-top: 20px !important;
}
.red {
  color: #e13b2b;
}
.section__title {
  color: #FFFFFF;
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 700;
  line-height: 0.95;
}
@media (max-width: 1023px) {
  .section__title {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  .section__title {
    font-size: 55px;
  }
}
@media (max-width: 425px) {
  .section__title {
    font-size: 37px;
  }
}
@media (max-width: 375px) {
  .section__title {
    font-size: 30px;
  }
}
.section__title--darken {
  color: #ffdfd1;
}
.section__text {
  color: #ffdfd1;
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.6;
}
@media (max-width: 1024px) {
  .section__text {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .section__text {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .section__text {
    font-size: 14px;
  }
}
@media (max-width: 375px) {
  .section__text {
    font-size: 12px;
  }
}
@-webkit-keyframes link-click {
  0%,
  100% {
    transform: scale(1.1);
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 2px);
  }
  50% {
    transform: translate(0, -7px);
  }
  90% {
    transform: translate(0, 4px);
  }
}
@-moz-keyframes link-click {
  0%,
  100% {
    transform: scale(1.1);
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 2px);
  }
  50% {
    transform: translate(0, -7px);
  }
  90% {
    transform: translate(0, 4px);
  }
}
@-o-keyframes link-click {
  0%,
  100% {
    transform: scale(1.1);
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 2px);
  }
  50% {
    transform: translate(0, -7px);
  }
  90% {
    transform: translate(0, 4px);
  }
}
@keyframes link-click {
  0%,
  100% {
    transform: scale(1.1);
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, 2px);
  }
  50% {
    transform: translate(0, -7px);
  }
  90% {
    transform: translate(0, 4px);
  }
}
@-webkit-keyframes btn-pulse {
  0% {
    background-color: #ff4d00;
  }
  50% {
    background-color: #b33600;
  }
  100% {
    background-color: #ff4d00;
  }
}
@-moz-keyframes btn-pulse {
  0% {
    background-color: #ff4d00;
  }
  50% {
    background-color: #b33600;
  }
  100% {
    background-color: #ff4d00;
  }
}
@-o-keyframes btn-pulse {
  0% {
    background-color: #ff4d00;
  }
  50% {
    background-color: #b33600;
  }
  100% {
    background-color: #ff4d00;
  }
}
@keyframes btn-pulse {
  0% {
    background-color: #ff4d00;
  }
  50% {
    background-color: #b33600;
  }
  100% {
    background-color: #ff4d00;
  }
}
.header {
  padding: 25px 0;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999;
  box-shadow: 1px 1px 2px #ffdfd1;
  transform: translateX(-50%);
  transition: padding 0.2s ease;
  background-color: #151314;
}
@media (max-width: 767px) {
  .header {
    padding: 10px 0;
  }
}
.header:before {
  width: 100%;
  height: 100%;
  display: none;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #151314;
}
@media (max-width: 767px) {
  .header:before {
    display: block;
  }
}
.header__inner {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .header__inner {
    align-items: center;
  }
}
.header__logo {
  display: inline-flex;
  align-items: flex-end;
}
.header__logo:hover .svg__block--logo {
  transform: scale(1.1);
}
.header__logo:focus .svg__block--logo {
  animation: link-click 0.5s ease;
  -webkit-animation: link-click 0.5s ease;
  -moz-animation: link-click 0.5s ease;
  -o-animation: link-click 0.5s ease;
}
.header__title {
  color: #ffdfd1;
  font-family: 'Calligraffitti', cursive;
  font-size: 26px;
  font-weight: 400;
  line-height: 0.8;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .header__title {
    font-size: 24px;
  }
}
.header__contacts {
  display: inline-flex;
  align-items: center;
  text-align: right;
}
.header__link {
  margin-left: 80px;
  display: inline-flex;
  align-items: center;
}
.header__link:first-child {
  margin-left: 0;
}
.header__link:hover .svg__block--header {
  transform: scale(1.1);
}
.header__link:focus .svg__block--header {
  animation: link-click 0.5s ease;
  -webkit-animation: link-click 0.5s ease;
  -moz-animation: link-click 0.5s ease;
  -o-animation: link-click 0.5s ease;
}
@media (max-width: 1280px) {
  .header__link {
    margin-left: 60px;
  }
}
@media (max-width: 1024px) {
  .header__link {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .header__link:nth-child(-n+2) {
    display: none;
  }
  .header__link:nth-child(3) {
    margin-left: 0;
    margin-right: 30px;
  }
}
.header__burger {
  display: none;
}
.header__burger:focus {
  outline: 0;
}
@media (max-width: 767px) {
  .header__burger {
    width: 25px;
    height: 20px;
    display: block;
    position: relative;
  }
  .header__burger:hover {
    cursor: pointer;
  }
  .header__burger:before,
  .header__burger:after {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    left: 0;
    border-radius: 1px;
    transition: all 0.3s ease;
    background-color: #e13b2b;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active:before {
    top: 9px;
    transform: rotate(45deg);
  }
  .header__burger.active:after {
    bottom: 8px;
    transform: rotate(-45deg);
  }
  .header__burger span {
    width: 50%;
    height: 3px;
    position: absolute;
    top: 9px;
    left: 0;
    border-radius: 1px;
    background-color: #e13b2b;
  }
}
@media (max-width: 1024px) {
  .basket__text {
    display: none;
  }
}
.header__nav {
  width: 100%;
  height: auto;
  margin-top: 60px;
  margin-right: 5px;
  transition: all 0.2s ease;
}
@media (max-width: 1280px) {
  .header__nav {
    margin-top: 45px;
  }
}
@media (max-width: 1024px) {
  .header__nav {
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .header__nav {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-top: 0;
    padding: 20px 15px;
    position: fixed;
    top: -380px;
    left: 0;
    z-index: 1;
    overflow: auto;
    transition: all 0.3s ease;
    background-color: #32302f;
  }
  .header__nav.active {
    padding-bottom: 100vh;
    top: 60px;
  }
}
.header__nav__link {
  color: #ffdfd1;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.2s linear;
}
.header__nav__link:focus {
  outline: none;
}
.header__nav__link:hover {
  color: #ffcdb7;
}
.header__nav__link:focus {
  outline: 0;
}
.header__nav__link:active {
  color: #ffbc9e;
}
@media (max-width: 1280px) {
  .header__nav__link {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .header__nav__link {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .header__nav__link {
    margin-top: 20px;
    font-size: 18px;
  }
}
.header__nav__link--contacts {
  width: 100%;
  display: none;
  align-items: center;
}
.header__nav__link--contacts:hover .svg__block--header {
  transform: scale(1.1);
}
.header__nav__link--contacts:focus .svg__block--header {
  animation: link-click 0.5s ease;
  -webkit-animation: link-click 0.5s ease;
  -moz-animation: link-click 0.5s ease;
  -o-animation: link-click 0.5s ease;
}
@media (max-width: 767px) {
  .header__nav__link--contacts {
    display: inline-flex;
  }
}
.header__nav__link--contacts p {
  color: #ffdfd1;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}
.header__nav__link--contacts p:focus {
  outline: none;
}
@media (max-width: 1280px) {
  .header__nav__link--contacts p {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .header__nav__link--contacts p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .header__nav__link--contacts p {
    font-size: 18px;
  }
}
.header__list {
  width: auto;
  height: auto;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .header__list {
    flex-wrap: wrap;
  }
}
.header__list li {
  margin-left: 60px;
}
.header__list li:focus {
  outline: 0;
}
.header__list li:first-child {
  margin-left: 0;
}
@media (max-width: 767px) {
  .header__list li {
    width: 100%;
    height: auto;
    margin: 0;
    margin-top: 20px;
  }
}
.intro {
  padding-top: 190px;
  padding-bottom: 200px;
  background-color: #151314;
}
@media (max-width: 1280px) {
  .intro {
    padding-bottom: 150px;
  }
}
@media (max-width: 1024px) {
  .intro {
    padding-bottom: 100px;
  }
}
@media (max-width: 1023px) {
  .intro {
    padding-top: 110px;
  }
}
@media (max-width: 768px) {
  .intro {
    padding-top: 8px;
  }
}
@media (max-width: 767px) {
  .intro {
    padding-top: 60px;
  }
}
@media (max-width: 425px) {
  .intro {
    padding-bottom: 0;
  }
}
@media (max-width: 350px) {
  .intro {
    overflow: hidden;
  }
}
.intro__inner {
  width: 100%;
  height: auto;
  margin-top: 110px;
}
@media (max-width: 1023px) {
  .intro__inner {
    margin-top: 80px;
  }
}
@media (max-width: 767px) {
  .intro__inner {
    margin-top: 60px;
  }
}
@media (max-width: 425px) {
  .intro__inner {
    margin-top: 50px;
  }
}
@media (max-width: 375px) {
  .intro__inner {
    margin-top: 40px;
  }
}
.intro__description {
  margin-top: 55px;
}
@media (max-width: 425px) {
  .intro__description {
    margin-top: 40px;
  }
}
@media (max-width: 375px) {
  .intro__description {
    margin-top: 30px;
  }
}
.intro__content {
  width: 100%;
  margin-top: 90px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}
@media (max-width: 1023px) {
  .intro__content {
    margin-top: 75px;
  }
}
@media (max-width: 425px) {
  .intro__content {
    margin-top: 60px;
  }
}
@media (max-width: 375px) {
  .intro__content {
    margin-top: 45px;
  }
}
.intro__content__inner {
  height: auto;
  padding-right: 20px;
  display: flex;
  flex-basis: 520px;
  flex-shrink: 1;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 1023px) {
  .intro__content__inner {
    flex-basis: 450px;
  }
}
@media (max-width: 767px) {
  .intro__content__inner {
    flex-basis: 350px;
  }
}
@media (max-width: 425px) {
  .intro__content__inner {
    padding-right: 0;
    flex-basis: auto;
  }
}
.intro__content__text {
  margin-top: 25px;
  z-index: 2;
}
.intro__content__social {
  width: auto;
  height: auto;
  position: absolute;
  top: 69px;
  right: -55px;
  z-index: 3;
  transform: rotate(90deg);
}
@media (max-width: 425px) {
  .intro__content__social {
    display: none;
  }
}
.intro__content__link {
  margin-left: 15px;
  color: #ffdfd1;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  opacity: 0.6;
  transition: opacity 0.3s linear;
}
.intro__content__link:focus {
  outline: none;
}
.intro__content__link:first-child {
  margin-left: 0;
}
.intro__content__link:hover {
  opacity: 0.7;
}
.intro__content__absolute {
  position: absolute;
  top: 22px;
  left: -250px;
  z-index: 1;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 170px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  opacity: 0.07;
}
@media (max-width: 767px) {
  .intro__content__absolute {
    left: -220px;
    font-size: 150px;
  }
}
@media (max-width: 425px) {
  .intro__content__absolute {
    left: -25px;
  }
}
@media (max-width: 375px) {
  .intro__content__absolute {
    font-size: 140px;
  }
}
.about {
  padding: 150px 0;
  overflow: hidden;
  background-color: #151314;
}
.about__inner {
  width: 100%;
  height: auto;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .about__inner {
    padding-top: 0;
  }
}
.about__content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 768px) {
  .about__content {
    flex-wrap: wrap;
  }
}
.about__text {
  margin-right: 30px;
  flex-basis: 570px;
  flex-shrink: 1;
}
@media (max-width: 768px) {
  .about__text {
    max-width: 100%;
    margin-right: 0;
  }
}
.about__text .section__title {
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .about__text .section__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 425px) {
  .about__text .section__title {
    margin-bottom: 40px;
  }
}
.about__text .section__text {
  margin-top: 50px;
}
.about__text .section__text:first-child {
  margin-top: 0;
}
@media (max-width: 1024px) {
  .about__text .section__text {
    margin-top: 30px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about__text .section__text {
    font-size: 18px;
  }
}
@media (max-width: 425px) {
  .about__text .section__text {
    margin-top: 20px;
    font-size: 14px;
  }
}
.about__slider {
  padding-top: 20px;
  flex-basis: 780px;
  flex-shrink: 1;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .about__slider {
    padding-top: 0;
    flex-basis: 500px;
  }
}
@media (max-width: 768px) {
  .about__slider {
    width: 100%;
    margin-top: 50px;
    flex-basis: 100%;
  }
}
@media (max-width: 425px) {
  .about__slider {
    margin-top: 60px;
  }
}
.about__slider__item {
  padding: 0 5px;
  position: relative;
  outline: none;
}
@media (max-width: 1024px) {
  .about__slider__item img {
    padding-top: 25px;
  }
}
.about__slider__content {
  position: absolute;
  top: -9px;
  left: 70px;
  z-index: 1;
}
@media (max-width: 1024px) {
  .about__slider__content {
    left: 0;
  }
}
.about__slider__title {
  display: inline-block;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  position: relative;
}
@media (max-width: 1024px) {
  .about__slider__title {
    font-size: 22px;
  }
}
.about__slider__title:after {
  width: 100%;
  height: 3px;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #FFFFFF;
}
.about__slider__weight {
  margin-top: 10px;
  margin-bottom: 15px;
  color: #e13b2b;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 1024px) {
  .about__slider__weight {
    font-size: 16px;
  }
}
.about__features {
  max-width: 1115px;
  margin-top: 20px;
  padding-bottom: 130px;
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1440px) {
  .about__features {
    margin-top: 50px;
    padding-bottom: 90px;
  }
}
@media (max-width: 1023px) {
  .about__features {
    margin-top: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .about__features {
    padding-bottom: 60px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 425px) {
  .about__features {
    padding-bottom: 0;
    justify-content: flex-start;
  }
}
.about__features__title {
  color: #ffdfd1;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
}
@media (max-width: 425px) {
  .about__features__title {
    font-size: 22px;
  }
}
.about__features__description {
  color: #ffdfd1;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}
.about__item {
  width: 25%;
  padding-right: 5px;
}
@media (max-width: 1023px) {
  .about__item {
    width: 50%;
    margin-top: 30px;
    padding-right: 150px;
  }
}
@media (max-width: 768px) {
  .about__item {
    width: 50%;
    margin-top: 30px;
    padding-right: 0;
    flex-basis: 250px;
  }
}
@media (max-width: 425px) {
  .about__item {
    width: 100%;
  }
}
.menu {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #151314;
}
@media (max-width: 768px) {
  .menu {
    padding-top: 0;
  }
}
.menu__inner {
  width: 100%;
  height: auto;
  margin-top: 140px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .menu__inner {
    margin-top: 70px;
    flex-wrap: wrap;
  }
}
@media (max-width: 425px) {
  .menu__inner {
    margin-top: 40px;
  }
}
.menu__features {
  margin-bottom: 90px;
  padding-right: 30px;
  display: flex;
  flex-basis: 390px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .menu__features {
    width: 100%;
    padding-right: 0;
    flex-basis: auto;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media (max-width: 425px) {
  .menu__features {
    margin-bottom: 50px;
  }
}
.menu__nav {
  width: auto;
  height: auto;
}
.menu__nav__link {
  margin-top: 45px;
  position: relative;
  left: 0;
  color: #ffdfd1;
  font-family: "Playfair Display";
  font-size: 40px;
  font-weight: 400;
  transition: all 0.3s ease;
}
.menu__nav__link:first-child {
  margin-top: 0;
}
.menu__nav__link:before {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 50%;
  left: -100px;
  z-index: 1;
  background-color: transparent;
  transition: all 0.5s ease;
}
.menu__nav__link:hover {
  cursor: pointer;
}
@media (max-width: 425px) {
  .menu__nav__link {
    margin-top: 30px;
    font-size: 30px;
  }
}
.menu__nav__link--active {
  position: relative;
  left: 100px;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .menu__nav__link--active {
    left: 75px;
  }
}
@media (max-width: 425px) {
  .menu__nav__link--active {
    left: 60px;
  }
}
@media (max-width: 375px) {
  .menu__nav__link--active {
    left: 45px;
  }
}
.menu__nav__link--active:before {
  width: 90px;
  height: 4px;
  content: '';
  position: absolute;
  top: 50%;
  left: -100px;
  z-index: 1;
  background-color: #ffdfd1;
}
@media (max-width: 768px) {
  .menu__nav__link--active:before {
    width: 65px;
    left: -75px;
  }
}
@media (max-width: 425px) {
  .menu__nav__link--active:before {
    width: 50px;
    left: -60px;
  }
}
@media (max-width: 375px) {
  .menu__nav__link--active:before {
    width: 35px;
    left: -45px;
  }
}
.menu__sale {
  height: 480px;
  flex-basis: 360px;
  margin-top: 80px;
  position: relative;
  border-radius: 2.3em;
  overflow: hidden;
  background-color: #ff4d00;
}
.menu__sale:hover {
  cursor: pointer;
}
@media (max-width: 1100px) {
  .menu__sale {
    margin-top: 0;
  }
}
@media (max-width: 767px) {
  .menu__sale {
    height: 150px;
    flex-basis: 150px;
    border-radius: 50%;
  }
}
.menu__sale__title {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 187px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: uppercase;
  text-align: right;
  transform: translate(-50%, -50%) rotate(18deg);
}
@media (max-width: 1280px) {
  .menu__sale__title {
    font-size: 140px;
  }
}
@media (max-width: 1100px) {
  .menu__sale__title {
    font-size: 187px;
  }
}
@media (max-width: 767px) {
  .menu__sale__title {
    font-size: 55px;
  }
}
.menu__sale__description {
  margin-top: 10px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 0.8;
  opacity: 0.8;
}
@media (max-width: 1280px) {
  .menu__sale__description {
    font-size: 12px;
  }
}
@media (max-width: 1100px) {
  .menu__sale__description {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .menu__sale__description {
    font-size: 10px;
    line-height: 1.2;
  }
}
.menu__slider:hover {
  cursor: pointer;
}
.menu__slider__wrapper {
  flex-basis: 1140px;
  overflow: hidden;
}
.menu__controle {
  width: 100%;
  height: 50px;
  position: relative;
}
@media (max-width: 1100px) {
  .menu__controle {
    margin-top: 50px;
  }
}
.menu__controle .slick-arrow {
  width: 30px;
  height: 22px;
  position: absolute;
  top: 10px;
  z-index: 2;
  color: transparent;
  font-size: 0;
  border: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}
.menu__controle .slick-arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.menu__controle .slick-arrow:focus {
  outline: none;
}
.menu__controle .slick-prev {
  left: 0;
  background-image: url('img/menu/prev.png');
}
.menu__controle .slick-next {
  right: 0;
  background-image: url('img/menu/next.png');
}
.menu__controle .slick-dots {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}
.menu__controle .slick-dots li button {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  color: transparent;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  opacity: 0.6;
  background-color: #e13b2b;
  transition: all 0.3s ease;
}
.menu__controle .slick-dots li button:focus {
  outline: none;
}
.menu__controle .slick-dots li button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media (max-width: 425px) {
  .menu__controle .slick-dots li button {
    width: 12px;
    height: 12px;
  }
}
.menu__controle .slick-dots .slick-active button {
  width: 20px;
  height: 20px;
  opacity: 1;
}
@media (max-width: 425px) {
  .menu__controle .slick-dots .slick-active button {
    width: 18px;
    height: 18px;
  }
}
.menu__item {
  width: 360px !important;
  height: 480px;
  margin: 0 5px;
  padding-top: 270px;
  padding-left: 25px;
  text-align: left;
  border-radius: 2.3em;
  position: relative;
  background-color: #FFFFFF;
}
.menu__item--even {
  margin-top: 75px;
}
@media (max-width: 425px) {
  .menu__item--even {
    margin-top: 40px !important;
  }
}
@media (max-width: 425px) {
  .menu__item {
    width: 300px !important;
    height: 400px;
    margin: 0 auto;
    padding-top: 215px;
    padding-left: 15px;
  }
}
@media (max-width: 375px) {
  .menu__item {
    width: 265px !important;
  }
}
.menu__item__basket {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 245px;
  right: 30px;
  z-index: 2;
  border-radius: 50%;
  background-color: #ff4d00;
}
@media (max-width: 425px) {
  .menu__item__basket {
    width: 45px;
    height: 45px;
    top: 200px;
    right: 15px;
  }
}
.menu__item__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.menu__item__title {
  margin-bottom: 15px;
  color: #151314;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
  line-height: 0.8;
}
@media (max-width: 425px) {
  .menu__item__title {
    font-size: 20px;
  }
}
.menu__item__weight {
  margin-bottom: 15px;
  color: #ff4d00;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 0.8;
}
@media (max-width: 425px) {
  .menu__item__weight {
    font-size: 16px;
  }
}
.menu__item__ingredients {
  margin-bottom: 15px;
  color: #32302f;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 425px) {
  .menu__item__ingredients {
    font-size: 16px;
  }
}
.gallery {
  padding: 150px 0;
  overflow: hidden;
  background-color: #151314;
}
.gallery__inner {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 130px;
}
@media (max-width: 1024px) {
  .gallery__inner {
    padding-bottom: 90px;
  }
}
@media (max-width: 768px) {
  .gallery__inner {
    padding-top: 0;
    padding-bottom: 60px;
  }
}
@media (max-width: 425px) {
  .gallery__inner {
    padding-bottom: 45px;
  }
}
.gallery__inner .slick-arrow {
  width: 30px;
  height: 22px;
  position: absolute;
  top: 50%;
  z-index: 2;
  color: transparent;
  font-size: 0;
  border: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}
.gallery__inner .slick-arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.gallery__inner .slick-arrow:focus {
  outline: none;
}
.gallery__inner .slick-prev {
  left: -20px;
  background-image: url('img/menu/prev.png');
}
.gallery__inner .slick-next {
  right: -20px;
  background-image: url('img/menu/next.png');
}
.gallery__inner__wrapper {
  width: 100%;
  margin-top: 130px;
  margin-bottom: 70px;
  position: relative;
}
.gallery__slider {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}
.gallery__slider:hover {
  cursor: pointer;
}
.gallery__slider__wrapper {
  width: 100%;
  margin-top: 130px;
}
@media (max-width: 1024px) {
  .gallery__slider__wrapper {
    margin-top: 100px;
  }
}
@media (max-width: 425px) {
  .gallery__slider__wrapper {
    margin-top: 40px;
  }
}
.gallery__item {
  width: 25%;
  height: 520px;
  padding-bottom: 35px;
  padding-left: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
@media (max-width: 1280px) {
  .gallery__item {
    width: 33.3333%;
  }
}
.gallery__item--hight {
  margin-top: 0;
}
.gallery__item--middle {
  margin-top: 100px;
}
@media (max-width: 1280px) {
  .gallery__item--middle {
    margin-top: 75px;
  }
}
@media (max-width: 768px) {
  .gallery__item--middle {
    margin-top: 50px;
  }
}
@media (max-width: 425px) {
  .gallery__item--middle {
    margin-top: 0;
  }
}
.gallery__item--low {
  margin-top: 200px;
}
@media (max-width: 1280px) {
  .gallery__item--low {
    margin-top: 150px;
  }
}
@media (max-width: 768px) {
  .gallery__item--low {
    margin-top: 100px;
  }
}
@media (max-width: 425px) {
  .gallery__item--low {
    margin-top: 0;
  }
}
.gallery__item__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.gallery__item__content {
  z-index: 2;
}
.gallery__item__title {
  margin-bottom: 30px;
  color: #FFFFFF;
  font-family: inherit;
  font-size: 30px;
  font-weight: 500;
}
.gallery__item__description {
  max-width: 270px;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}
.gallery__controle {
  width: 100%;
  margin-top: 50px;
  position: relative;
}
@media (max-width: 1024px) {
  .gallery__controle {
    margin-top: 30px;
  }
}
.gallery__controle .slick-arrow {
  width: 30px;
  height: 22px;
  position: absolute;
  top: 10px;
  z-index: 2;
  color: transparent;
  font-size: 0;
  border: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}
.gallery__controle .slick-arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.gallery__controle .slick-arrow:focus {
  outline: none;
}
.gallery__controle .slick-prev {
  left: 0;
  background-image: url('img/menu/prev.png');
}
.gallery__controle .slick-next {
  right: 0;
  background-image: url('img/menu/next.png');
}
.gallery__controle .slick-dots {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}
.gallery__controle .slick-dots li button {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  color: transparent;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  opacity: 0.6;
  background-color: #e13b2b;
  transition: all 0.3s ease;
}
.gallery__controle .slick-dots li button:focus {
  outline: none;
}
.gallery__controle .slick-dots li button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media (max-width: 425px) {
  .gallery__controle .slick-dots li button {
    width: 12px;
    height: 12px;
  }
}
.gallery__controle .slick-dots .slick-active button {
  width: 20px;
  height: 20px;
  opacity: 1;
}
@media (max-width: 425px) {
  .gallery__controle .slick-dots .slick-active button {
    width: 18px;
    height: 18px;
  }
}
.feedback {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #151314;
}
@media (max-width: 768px) {
  .feedback {
    padding-top: 0;
  }
}
.feedback__slider:hover {
  cursor: pointer;
}
.feedback__slider__wrapper {
  margin-top: 140px;
  margin-bottom: 60px;
  position: relative;
}
@media (max-width: 1024px) {
  .feedback__slider__wrapper {
    margin-top: 100px;
  }
}
@media (max-width: 425px) {
  .feedback__slider__wrapper {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
.feedback__slider__wrapper .slick-arrow {
  width: 30px;
  height: 22px;
  position: absolute;
  top: 50%;
  z-index: 2;
  color: transparent;
  font-size: 0;
  border: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}
.feedback__slider__wrapper .slick-arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.feedback__slider__wrapper .slick-arrow:focus {
  outline: none;
}
.feedback__slider__wrapper .slick-prev {
  left: -45px;
  background-image: url('img/menu/prev.png');
}
.feedback__slider__wrapper .slick-next {
  right: -20px;
  background-image: url('img/menu/next.png');
}
.feedback__item {
  width: 33.3333%;
  padding-right: 30px;
  padding-left: 2px;
}
@media (max-width: 1024px) {
  .feedback__item {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .feedback__item {
    padding-right: 15px;
  }
}
.feedback__item__content {
  width: 100%;
  padding: 40px 10px 50px 50px;
  text-align: left;
  border-radius: 2.3em;
  background-color: #FFFFFF;
}
@media (max-width: 1440px) {
  .feedback__item__content {
    padding: 30px 10px 40px 30px;
  }
}
@media (max-width: 768px) {
  .feedback__item__content {
    padding: 25px 10px 30px 25px;
  }
}
.feedback__item__date {
  color: #ff4d00;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .feedback__item__date {
    font-size: 16px;
  }
}
.feedback__item__title {
  margin-top: 40px;
  margin-bottom: 20px;
  color: #ff4d00;
  font-family: inherit;
  font-size: 30px;
  font-weight: 500;
  line-height: 0.8;
}
@media (max-width: 768px) {
  .feedback__item__title {
    font-size: 26px;
  }
}
.feedback__item__text {
  max-width: 328px;
  color: #32302f;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .feedback__item__text {
    font-size: 16px;
  }
}
.feedback__controle {
  width: 100%;
  height: 50px;
  margin-top: 60px;
  position: relative;
}
@media (max-width: 425px) {
  .feedback__controle {
    margin-top: 45px;
  }
}
.feedback__controle .slick-arrow {
  width: 30px;
  height: 22px;
  position: absolute;
  top: 10px;
  z-index: 2;
  color: transparent;
  font-size: 0;
  border: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease;
}
.feedback__controle .slick-arrow:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.feedback__controle .slick-arrow:focus {
  outline: none;
}
.feedback__controle .slick-prev {
  left: 0;
  background-image: url('img/menu/prev.png');
}
.feedback__controle .slick-next {
  right: 0;
  background-image: url('img/menu/next.png');
}
.feedback__controle .slick-dots {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}
.feedback__controle .slick-dots li button {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  color: transparent;
  font-size: 0;
  border: 0;
  border-radius: 50%;
  opacity: 0.6;
  background-color: #e13b2b;
  transition: all 0.3s ease;
}
.feedback__controle .slick-dots li button:focus {
  outline: none;
}
.feedback__controle .slick-dots li button:hover {
  cursor: pointer;
  transform: scale(1.2);
}
@media (max-width: 425px) {
  .feedback__controle .slick-dots li button {
    width: 12px;
    height: 12px;
  }
}
.feedback__controle .slick-dots .slick-active button {
  width: 20px;
  height: 20px;
  opacity: 1;
}
@media (max-width: 425px) {
  .feedback__controle .slick-dots .slick-active button {
    width: 18px;
    height: 18px;
  }
}
.footer {
  padding: 150px 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: #151314;
}
.footer__inner {
  padding-top: 190px;
  padding-bottom: 180px;
}
@media (max-width: 1280px) {
  .footer__inner {
    padding-top: 50px;
  }
}
@media (max-width: 768px) {
  .footer__inner {
    padding-bottom: 120px;
  }
}
@media (max-width: 425px) {
  .footer__inner {
    padding-bottom: 80px;
  }
}
.footer__form {
  width: 100%;
  padding: 85px 30px;
  display: flex;
  flex: 0 1 766px;
  flex-wrap: wrap;
  border-radius: 2.3em;
  background-color: #151314;
}
@media (max-width: 425px) {
  .footer__form {
    padding: 50px 15px;
  }
}
.footer__form__wrapper {
  max-width: 766px;
  width: 100%;
  display: flex;
}
.footer__form__line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 425px) {
  .footer__form__line {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.footer__form__line:first-child input {
  max-width: 50%;
  flex: 0 1 340px;
}
.footer__form__line:first-child input:first-child {
  margin-right: 10px;
}
@media (max-width: 425px) {
  .footer__form__line:first-child input:first-child {
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .footer__form__line:first-child input {
    max-width: 100%;
    width: 100%;
  }
}
.footer__form__line:nth-child(2) input {
  max-width: 33.333%;
  flex: 0 1 215px;
}
@media (max-width: 425px) {
  .footer__form__line:nth-child(2) input {
    max-width: 50%;
    width: 50%;
  }
}
.footer__form__line:nth-child(2) input:nth-child(-n+2) {
  margin-right: 10px;
}
@media (max-width: 425px) {
  .footer__form__line:nth-child(2) input:nth-child(-n+2) {
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .footer__form__line:nth-child(2) input:first-child {
    width: 100%;
    max-width: 100%;
  }
}
.footer__form__input {
  height: 90px;
  margin-bottom: 30px;
  padding-left: 30px;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  border: 0;
  border-radius: 2.3em;
  background-color: #32302f;
}
.footer__form__input:focus {
  outline: 0;
}
.footer__form__input::placeholder {
  color: #ffdfd1;
}
@media (max-width: 425px) {
  .footer__form__input {
    height: 75px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 14px;
  }
}
.footer__form__input__wrapper {
  display: none;
}
@media (max-width: 425px) {
  .footer__form__input__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .footer__form__input__wrapper input:first-child {
    margin-right: 10px !important;
  }
}
.footer__form__input[type="number"] {
  padding-left: 100px;
  color: #000;
  position: relative;
}
.footer__form__input[type="number"]:before {
  width: 100%;
  height: 100%;
  content: 'Гостей';
  color: #ffdfd1;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
}
.footer__form__input[type="date"],
.footer__form__input[type="time"] {
  padding-right: 15px;
  text-align: center;
}
.footer__form__input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.footer__form__input[type="time"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.footer__form__input.btn {
  height: auto;
  margin-bottom: 0;
  padding: 1.5em 6em !important;
  flex: 0 1 338px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  background-color: #ff4d00;
  animation: btn-pulse 2s ease-out;
  animation-iteration-count: infinite;
}
@media (max-width: 425px) {
  .footer__form__input.btn {
    padding: 1.5em 5em !important;
    font-size: 12px;
  }
}
.contacts {
  max-width: 100%;
  width: 100%;
  margin-top: 160px;
}
@media (max-width: 768px) {
  .contacts {
    margin-top: 120px;
  }
}
.contacts__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 425px) {
  .contacts__inner {
    flex-wrap: wrap;
  }
}
.contacts__content {
  width: 50%;
  padding-top: 130px;
  padding-bottom: 160px;
  padding-left: 100px;
  position: relative;
  border-radius: 2.3em 0 0 2.3em;
  box-shadow: 0 0 80px rgba(225, 59, 43, 0.2);
  background-color: #151314;
}
@media (max-width: 1280px) {
  .contacts__content {
    width: 55%;
    padding-left: 40px;
  }
}
@media (max-width: 1024px) {
  .contacts__content {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}
@media (max-width: 425px) {
  .contacts__content {
    width: 100%;
    padding-left: 20px;
    border-radius: 2.3em 2.3em 0 0;
  }
}
.contacts__content:after {
  width: 40px;
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  right: -40px;
  z-index: 1;
  background-color: #151314;
}
@media (max-width: 425px) {
  .contacts__content:after {
    display: none;
  }
}
.contacts__link {
  margin-top: 100px;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
}
.contacts__link:nth-child(3) {
  margin-top: 60px;
}
@media (max-width: 768px) {
  .contacts__link:nth-child(3) {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .contacts__link {
    margin-top: 80px;
  }
}
.contacts__link__link {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
}
.contacts__link__link:hover .svg__block--header {
  transform: scale(1.1);
}
.contacts__link__link:focus .svg__block--header {
  animation: link-click 0.5s ease;
  -webkit-animation: link-click 0.5s ease;
  -moz-animation: link-click 0.5s ease;
  -o-animation: link-click 0.5s ease;
}
.contacts__map {
  width: 50%;
  border-radius: 2.3em;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 80px rgba(225, 59, 43, 0.2);
  background-color: #151314;
}
@media (max-width: 1280px) {
  .contacts__map {
    width: 45%;
  }
}
@media (max-width: 425px) {
  .contacts__map {
    width: 100%;
    border-radius: 0 0 2.3em 2.3em;
  }
}
.contacts__map iframe {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  border-radius: 2.3em;
}
@media (max-width: 425px) {
  .contacts__map iframe {
    border-radius: 0 0 2.3em 2.3em;
  }
}
.contacts__map__absolute {
  position: absolute;
  bottom: 92%;
  left: 50%;
  z-index: 3;
  transform: translateX(-50%);
}
@media (max-width: 1280px) {
  .contacts__map__absolute {
    display: none;
  }
}
.contacts__social {
  width: 100%;
  margin-top: 70px;
}
@media (max-width: 768px) {
  .contacts__social {
    margin-top: 50px;
  }
}
.contacts__social__title {
  margin-bottom: 20px;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 24px;
  font-weight: 500;
}
.contacts__social__block {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.contacts__social__link {
  margin-left: 15px;
}
.contacts__social__link:first-child {
  margin-left: 0;
}
.contacts__social__img {
  position: relative;
  bottom: 0;
  transition: all 0.3s ease;
}
.contacts__social__img:hover {
  bottom: 4px;
  opacity: 0.9;
}
.modal {
  height: 100vh;
  padding: 0 20px;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.1s ease;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 767px) {
  .modal {
    padding: 0 10px;
  }
}
.modal.open {
  display: flex;
  overflow: auto;
}
.modal__title {
  color: #393939;
  font-family: "Playfair Display";
  font-size: 100px;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .modal__title {
    font-size: 80px;
  }
}
@media (max-width: 767px) {
  .modal__title {
    font-size: 60px;
  }
}
@media (max-width: 425px) {
  .modal__title {
    font-size: 35px;
  }
}
.modal__feedback {
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 2.3em;
  transform: scale(0);
  transition: transform 0.2s linear;
  background-color: #FFFFFF;
}
@media (max-width: 1024px) {
  .modal__feedback {
    padding: 50px 60px;
  }
}
@media (max-width: 767px) {
  .modal__feedback {
    padding: 30px 30px;
  }
}
@media (max-width: 425px) {
  .modal__feedback {
    padding: 20px 15px;
  }
}
.modal__feedback__form {
  width: 100%;
  margin-top: 60px;
}
@media (max-width: 768px) {
  .modal__feedback__form {
    margin-top: 15px;
  }
}
.modal__feedback__form__input {
  height: 90px;
  margin-bottom: 30px;
  padding-left: 30px;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  border-radius: 2.3em;
  background-color: #32302f;
}
@media (max-width: 1024px) {
  .modal__feedback__form__input {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .modal__feedback__form__input {
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .modal__feedback__form__input {
    padding-left: 15px;
    font-size: 14px;
  }
}
.modal__feedback__form__input::placeholder {
  color: #ffdfd1;
}
.modal__feedback__form__input:focus {
  outline: 0;
}
.modal__feedback__form__input:first-child {
  width: 50%;
}
@media (max-width: 1024px) {
  .modal__feedback__form__input:first-child {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .modal__feedback__form__input:first-child {
    margin-bottom: 20px;
  }
}
.modal__feedback__form__input:nth-child(2) {
  width: 100%;
  height: 280px;
  padding: 20px 0;
  padding-left: 30px;
  align-items: flex-start;
}
@media (max-width: 425px) {
  .modal__feedback__form__input:nth-child(2) {
    padding-left: 15px;
  }
}
.modal__feedback__form__input:nth-child(3) {
  height: auto;
  margin-bottom: 0;
  padding: 1.5em 6em !important;
  flex: 0 1 338px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  background-color: #ff4d00;
  animation: btn-pulse 2s ease-out;
  animation-iteration-count: infinite;
}
@media (max-width: 425px) {
  .modal__feedback__form__input:nth-child(3) {
    padding: 1.5em 5em !important;
    font-size: 12px;
  }
}
.modal__booking {
  width: 100%;
  margin: 0 auto;
  padding: 80px 100px;
  display: flex;
  flex: 0 1 1330px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 2.3em;
  transform: scale(0);
  transition: transform 0.2s linear;
  background-color: #FFFFFF;
}
@media (max-width: 1023px) {
  .modal__booking {
    padding: 70px 30px;
  }
}
@media (max-width: 767px) {
  .modal__booking {
    padding: 60px 20px;
  }
}
@media (max-width: 425px) {
  .modal__booking {
    padding: 20px 15px;
  }
}
.modal__booking__wrapper {
  max-width: 1330px;
  display: flex;
}
.modal__booking__form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.modal__booking__form__line {
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .modal__booking__form__line {
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .modal__booking__form__line {
    flex-wrap: wrap;
  }
}
.modal__booking__form__line:first-child input {
  max-width: 500px;
  flex: 0 1 500px;
}
.modal__booking__form__line:first-child input:first-child {
  margin-left: 0;
}
.modal__booking__form__line:nth-child(2) input {
  max-width: 318px;
  flex: 0 1 318px;
}
.modal__booking__form__line:nth-child(2) input:first-child {
  margin-left: 0;
}
@media (max-width: 425px) {
  .modal__booking__form__line:nth-child(2) input {
    max-width: 390px;
    flex: 0 1 390px;
  }
}
.modal__booking__form__input {
  height: 90px;
  margin-left: 40px;
  padding-left: 30px;
  display: flex;
  color: #ffdfd1;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  border-radius: 2.3em;
  background-color: #32302f;
}
@media (max-width: 1024px) {
  .modal__booking__form__input {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .modal__booking__form__input {
    margin-left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 425px) {
  .modal__booking__form__input {
    font-size: 14px;
  }
}
.modal__booking__form__input:focus {
  outline: 0;
}
.modal__booking__form__input::placeholder {
  color: #ffdfd1;
}
@media (max-width: 425px) {
  .modal__booking__form__input {
    margin-left: 0;
  }
}
.modal__booking__form__input--textarea {
  width: 100%;
  height: 230px;
  margin-left: 0;
  margin-bottom: 70px;
  padding-top: 20px;
}
@media (max-width: 1024px) {
  .modal__booking__form__input--textarea {
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .modal__booking__form__input--textarea {
    margin-bottom: 40px;
  }
}
.modal__booking__form__input.btn {
  height: auto;
  margin-left: 0;
  margin-bottom: 0;
  padding: 1.5em 6em !important;
  flex: 0 1 338px;
  color: #FFFFFF;
  font-size: 14px;
  text-align: center;
  background-color: #ff4d00;
  animation: btn-pulse 2s ease-out;
  animation-iteration-count: infinite;
}
@media (max-width: 425px) {
  .modal__booking__form__input.btn {
    padding: 1.5em 5em !important;
    font-size: 12px;
  }
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #32302f;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #151314;
  border: 2px solid #32302f;
}
::-webkit-scrollbar-thumb:hover {
  background: #151314;
}
