// main: ../style.less

.intro {
    padding-top: 190px;
    padding-bottom: 200px;

    background-color: @black;

    @media @hd {
        padding-bottom: 150px;
    }

    @media @laptop {
        padding-bottom: 100px;
    }

    @media @intermediate {
        padding-top: 110px;
    }

    @media @tablet {
        padding-top: 8px;
    }

    @media @medium {
        padding-top: 60px;
    }

    @media @s {
        overflow: hidden;
    }

    &__inner {
        width: 100%;
        height: auto;

        margin-top: 110px;

        @media @intermediate {
            margin-top: 80px;
        }

        @media @medium {
            margin-top: 60px;
        }

        @media @l {
            margin-top: 50px;
        }

        @media @m {
            margin-top: 40px;
        }
    }

    &__description {
        margin-top: 55px;

        @media @l {
            margin-top: 40px;
        }

        @media @m {
            margin-top: 30px;
        }
    }

    &__content {
        width: 100%;

        margin-top: 90px;

        display: flex;
        justify-content: flex-end;

        position: relative;

        @media @intermediate {
            margin-top: 75px;
        }

        @media @l {
            margin-top: 60px;
        }

        @media @m {
            margin-top: 45px;
        }

        &__inner {
            height: auto;

            padding-right: 20px;

            display: flex;
            flex-basis: 520px;
            flex-shrink: 1;
            flex-wrap: wrap;

            position: relative;

            @media @intermediate {
                flex-basis: 450px;
            }

            @media @medium {
                flex-basis: 350px;
            }

            @media @l {
                padding-right: 0;

                flex-basis: auto;
            }
        }

        &__text {
            margin-top: 25px;
            
            z-index: 2;
        }

        &__social {
            width: auto;
            height: auto;

            position: absolute;
            top: 69px;
            right: -55px;
            z-index: 3;

            transform: rotate(90deg);

            @media @l {
                display: none;
            }
        }

        &__link {
            margin-left: 15px;

            .l-fs(@fcb, inherit, 12px, 700, none);

            opacity: .6;

            transition: opacity .3s linear;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                opacity: .7;
            }
        }

        &__absolute {
            position: absolute;
            top: 22px;
            left: -250px;
            z-index: 1;

            .fs(@fcb, inherit, 170px, 700);
            line-height: 0.8;
            text-transform: uppercase;

            opacity: 0.07;

            @media @medium {
                left: -220px;
                font-size: 150px;
            }

            @media @l {
                left: -25px;
            }

            @media @m {
                font-size: 140px;
            }
        }
    }
}
